<footer class="page-footer teal darken-4">
  <div class="footer-copyright green darken-2 col s12">
    <div class="container center">
      <p>2017 &copy; Copyright Text | Derechos reservados &reg;</p>
      <a class="grey-text text-lighten-4" href="https://www.facebook.com/CMarian.Garcia" target>@MarianGarcía |</a>
      <a class="grey-text text-lighten-4" href="https://www.facebook.com/analuisa.islasavila">@AnaIslas |</a>
      <a class="grey-text text-lighten-4" href="https://www.facebook.com/haidee.onofreramirez">@HaidéeOnofre |</a>
      <a class="grey-text text-lighten-4" href="https://www.facebook.com/Lizz.PB">@LizbethPérez</a></div>
  </div>
</footer>
