<header>
  <div class="row">
    <div class="teal darken-4 col l12 m12 s12" id="h1">
      <div class="row hide-on-med-and-down">
        <div class="col l3 m3"><img class="responsive-img" src="/images/SEP_LOGO.png"></div>
        <div class="col l6 m6">
          <div class="col l12 m12">
            <h4 class="grey-text text-lighten-2 flow-text center">TECNOLÓGICO NACIONAL DE MÉXICO</h4></div>
          <div class="col l12 m12">
            <h6 class="grey-text text-lighten-2 flow-text center">INSTITUTO TECNOLÓGICO DE CUAUTLA</h6></div>
        </div>
        <div class="col l3 m3"><img class="responsive-img" src="/images/ITC_LOGO1.png"></div>
      </div>
      <div class="row hide-on-large-only">
        <div class="col s8">
          <h6 class="grey-text text-lighten-2 flow-text center">TECNM</h6>
          <h6 class="grey-text text-lighten-2 flow-text center">ITC</h6></div>
        <div class="col s4"><img class="responsive-img" src="/images/ITC_LOGO1.png"></div>
      </div>
    </div>
    <div class="green darken-2 col s12">
      <div class="row">
        <div class="col s12">
          <h3 class="white-text flow-text center">SISTEMA DE DOCUMENTACIÓN DIGITAL</h3></div>
        <div class="col s12"></div>
      </div>
    </div>
  </div>
</header>
