<footer class="page-footer teal darken-4">
  <div class="footer-copyright green darken-2 col s12">
    <div class="container center">
      <p>2017 Copyright Text | Derechos reservados</p><a class="grey-text text-lighten-4" href="https://www.facebook.com/CMarian.Garcia" target>@MarianGarcía |</a><a class="grey-text text-lighten-4" href="https://www.facebook.com/analuisa.islasavila">@AnaIslas |</a><a
          class="grey-text text-lighten-4" href="https://www.facebook.com/haidee.onofreramirez">@HaideeOnofre |</a><a class="grey-text text-lighten-4" href="https://www.facebook.com/Lizz.PB">@LizbethPerez</a></div>
  </div>
</footer>
