<header>
  <div class="row" id="header">
    <div class="teal darken-4 col s12 m12 z-depth-5" id="content-header">
    <!--Logo de la SEP: Vista para escritorio-->
      <div class="col l3 m3 hide-on-med-and-down" id="logosep">
        <img src="/assets/images/seplogo.png" alt="Logo de la SEP" class="responsive-img">
      </div>
      <!--Logo de la SEP: Vista para móviles-->
      <div class="col s3 hide-on-med-and-up" id="logosep">
        <img src="/assets/images/seplogovertical.png" alt="Logo de la SEP" class="responsive-img">
      </div>
      <!--Encabezado: Vista para tablet-->
      <div class="col l10 m10 hide-on-small-only hide-on-large-only">
        <h4 class="grey-text text-lighten-2 flow-text center">TECNOLÓGICO NACIONAL DE MÉXICO</h4>
        <h4 class="grey-text text-lighten-2 flow-text center">INSTITUTO TECNOLÓGICO DE CUAUTLA</h4>
      </div>
      <!--Encabezado: Vista para escritorio-->
      <div class="col l7 m7 hide-on-med-only hide-on-small-only">
        <h4 class="grey-text text-lighten-2 flow-text center">TECNOLÓGICO NACIONAL DE MÉXICO</h4>
        <h4 class="grey-text text-lighten-2 flow-text center">INSTITUTO TECNOLÓGICO DE CUAUTLA</h4>
      </div>
      <!--Encabezado: Vista para smartphones-->
      <div class="col s6 hide-on-med-and-up">
        <h4 class="grey-text text-lighten-2 flow-text center">TECNM</h4>
        <h4 class="grey-text text-lighten-2 flow-text center">ITC</h4>
      </div>
      <!--Logo de la ITC: Vista para smartphones-->
      <div class="col s3 center hide-on-med-and-up" id="logoitc">
        <img src="/assets/images/itclogo.png" alt="Logo del ITC" class="responsive-img">
      </div>
      <!--Logo de la ITC: Vista para tablet y escritorio-->
      <div class="col l2 m2  hide-on-small-only" id="logoitc">
        <img src="/assets/images/itclogo.png" alt="Logo del ITC" class="responsive-img">
      </div>
    </div>
    <div class="row green darken-2 col s12">
      <div class="col s12">
        <h3 class="white-text flow-text center">SISTEMA DE GESTIÓN DOCUMENTAL INTELIGENTE</h3>
      </div>
    </div>
  </div>
</header>
