<div class="green darken-2 col s12">
  <div class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper green darken-2" id="navegacion"><a class="brand-logo">Usuario</a><a class="button-collapse" href="#" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="/usuario">Inicio<i class="material-icons left">home</i></a></li>
            <li><a href="#">Cerrar Sesión<i class="material-icons left">lock</i></a></li>
          </ul>
          <ul class="side-nav lime lighten-4" id="mobile-demo">
            <li class="active"><a href="/usuario">Inicio<i class="material-icons left">home</i></a></li>
            <li><a href="#">Cerrar Sesión<i class="material-icons left">lock</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
