<div class=" container">
  <div class="card-panel indigo lighten-5 z-depth-5">
    <h5 class="center flow-text">Solicitud de Mantenimiento</h5>
    <div class="row">
      <div class="input-field col l6 s12">
        <i class="material-icons prefix">reorder</i>
        <input [(ngModel)]="folio" class="validate" type="text">
        <label for="txtFolio">Folio</label>
      </div>
      <div class="input-field col l6 s12">
        <i class="material-icons prefix">today</i>
        <input type="date" class="datepicker" [ngModel] ="campoFecha | date:'yyyy-MM-dd'" (ngModelChange)="campoFecha = $event" name="campoFecha">
      </div>
    </div>
    <form [formGroup]="formulario" class="col s12">
      <div class="row">
        <div class="input-field col l6 s12"><i class="material-icons prefix">build</i><input formControlName="mantenimientoEquipo" class="validate" type="text"><label for="txtDepartamento">Mantenimiento de Equipo</label></div>
        <div class="input-field col l6 s12"><i class="material-icons prefix">business</i><input formControlName="centroComputo" class="validate" type="text"><label for="txtCentroComputo">Centro de cómputo</label></div>
        <div class="input-field col s12"><i class="material-icons prefix">contacts</i><input formControlName="departamento" class="validate" type="text" placeholder="Departamento de Sistemas y Computación"><label for="txtAreaSolicitante">Área solicitante</label></div>
        <div class="input-field col s12"><i class="material-icons prefix">person</i><input formControlName="nombreSolicitante" class="validate" type="text"><label for="txtNombreSolicitante">Nombre y Firma del Solicitante</label></div>
        <div class="input-field col s12"><i class="material-icons prefix">mode_edit</i><textarea formControlName="descripcionServicio" class="materialize-textarea" id="textareaDescripcion"></textarea><label for="textareaDescripcion">Descripción del Servicio solicitado</label></div>
        <div class="input-field col s12"><i class="material-icons prefix">person</i><input formControlName="liberacionServicio" class="validate" type="text"><label for="txtFirmaLiberacion">Nombre, Fecha y Firma de liberación del servicio</label></div>
      </div>
      <div class="row hide-on-med-and-down">
        <div class="input-field right-align col l12">
          <button (click)="regresarPag()" class="btn waves-effect green darken-4"
            type="submit" name="action"> Cancelar
            <i class="material-icons right">reply</i>
          </button>
          <button (click)="generarPDF()"
            class="btn waves-effect green darken-3"
            type="submit" name="action"> Generar PDF
            <i class="material-icons right">note_add</i>
          </button>
        </div>
      </div>
      <div class="row hide-on-large-only">
        <div class="input-field right-align fixed-action-btn horizontal"><a class="btn-floating btn-large green darken-1"><i class="large material-icons">done_all</i></a>
          <ul>
            <li>
              <button (click)="regresarPag()"
                class="btn-floating deep-orange lighten-1 yellow darken-1"
                type="submit" name="action">
                <i class="material-icons right">reply</i>
              </button>
            </li>
            <li>
              <button (click)="generarPDF()"
                class="btn-floating orange darken-1"
                type="submit" name="action">
                <i class="material-icons right">note_add</i>
              </button>
            </li>
          </ul>
        </div>
      </div>
   </form>
  </div>
</div>
